body{
  box-sizing: border-box;
  font-size: 10px;
}

.form{
  display: grid;
  max-width: 1000px;
  margin:0 auto;
  padding:0 30px;
}

.label{
  display: grid;
  font-size: 1.4rem;
}

.input,
.button{
  font-size: 1.4rem;
  padding:.7rem 1rem;
  border-radius: 25px;
  border: 1px solid rgba(0,0,0,.3);
  outline: none;
}

.button{
  margin-top: .5rem;
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover{
  background-color: rgba(0,0,0,0.85);
}

.test{
  font-size: 2rem;
}